*.suo
*.user
_ReSharper.*
bin
obj
packages
.vs
CodeMap1.dgml
*.msi
**/UpgradeLog*.htm
QuoraDominatorCore/bin/
QuoraDominatorCore/obj/
QuoraDominatorUI/bin/
QuoraDominatorUI/obj/
QuoraDominatorCore/ltkqtsqw.tmp_proj
